*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

.input-bill input,
.input-people input {
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 1rem center;
}

.input-bill input {
  background-image: url("../images/icon-dollar.svg");
}

.input-people input {
  background-image: url("../images/icon-person.svg");
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
