@import "../sass-utils/mixins";
.card {
  width: 330px;
  border-radius: 12px;
  overflow: visible;
  position: relative;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 287px auto;
    width: 730px;
    overflow: visible;
  }

  .img-container {
    background-image: url(../../images/drawers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 10%;
    height: 210px;
    width: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    @media (min-width: 1024px) {
      height: 100%;
    }
  }

  .card-content {
    padding: 40px 40px 20px 40px;
    background-color: #fff;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

    .card-main {
      font-size: $base;
      color: $blue-900;
      font-weight: $bold;
      margin: 0;
      padding-bottom: 1rem;
      line-height: 1.4;

      @media (min-width: 1024px) {
        font-size: $md;
      }
    }

    p {
      color: $blue-800;
      font-size: $sm;
      line-height: 1.4;
      padding-bottom: 1rem;
    }

    .hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      padding-top: 1rem;

      .hero-content {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1rem;

        img {
          width: 42px;
          height: 42px;
          border-radius: 100%;
          grid-row: span 2;
        }

        p {
          color: $blue-900;
          font-size: $sm;
          padding: 0;
          font-weight: $bold;
        }

        span {
          color: $blue-700;
          font-size: $sm;
        }
      }

      button {
        @include share-button($blue-600);
      }
    }
  }
  .modal {
    background-color: $blue-900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 25px 40px;
    position: absolute;
    bottom: 0;
    width: 100%;

    @media (min-width: 1024px) {
      bottom: 90px;
      left: 550px;
      width: 250px;
      border-radius: 16px;
      padding: 20px 35px;

      &:before {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 0px;
        height: 0px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid $blue-900;
      }
    }

    .modal-socials {
      align-items: center;
      display: flex;
      gap: 1.5rem;

      p {
        color: $blue-800;
        font-size: $sm;
        letter-spacing: 5px;
        text-transform: uppercase;
      }

      ul {
        display: flex;
        cursor: pointer;
        gap: 1rem;

        li {
          a {
            color: transparent;
            width: inherit;
            height: inherit;
            display: inline-block;
          }
        }

        li[data-social="facebook"] {
          @include social-media-img;
          background-image: url(../../images/icon-facebook.svg);
        }
        li[data-social="twitter"] {
          @include social-media-img;
          background-image: url(../../images/icon-twitter.svg);
        }
        li[data-social="pinterest"] {
          @include social-media-img;
          background-image: url(../../images/icon-pinterest.svg);
        }
      }
    }
    button {
      @include share-button($blue-700);

      @media (min-width: 1024px) {
        display: none;
      }
    }
  }
}
