// colors

$blue-900: hsl(217, 19%, 35%);
$blue-800: hsl(214, 17%, 51%);
$blue-700: hsl(212, 23%, 69%);
$blue-600: hsl(210, 46%, 95%);

//fonts
$lg: 24px;
$md: 20px;
$base: 15px;
$sm: 13px;

$medium: 500;
$bold: 700;
